[submodule "chat"]
	path = chat
	url = git@gitlab.com:odclive/chat.git
[submodule "app"]
	path = app
	url = git@gitlab.com:odclive/app.git
[submodule "cli"]
	path = cli
	url = git@gitlab.com:odclive/cli.git
[submodule "admin"]
	path = admin
	url = git@gitlab.com:odclive/admin.git
