[submodule "chat"]
	path = submodules/chat
	url = git@gitlab.com:odclive/chat.git
[submodule "cli"]
	path = submodules/cli
	url = git@gitlab.com:odclive/cli.git
[submodule "admin"]
	path = submodules/admin
	url = git@gitlab.com:odclive/admin.git
[submodule "layouts"]
	path = submodules/layouts
	url = git@gitlab.com:odclive/layouts.git
